<a href="https://colab.research.google.com/github/Manikethan38/UNP_Assignment/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is your assignment on conditional statement and looping

**Problem-1**<br>
Write a small program to check a number is divisible by 7 or not

In [ ]:
x=7
if (x%7)==0:
  print("yes divisibe by 7")
else:
  print("not divisibe by 7")

yes divisibe by 7

**Problem-2**<br>
If a number is divisible by either 5 or 7, then we will call it a 'five-or-seven' number.<br> 
Write down a program to check if a number is 'five-or-seven' number or not.

In [ ]:
# Your code goes here
x=21
if x%5==0 and x%7==0:
  print("divisible by both 5 and 7")
elif x%5==0:
  print("only divisible by 5")
elif x%7==0:
  print("only divisible by 7")
else :
  print("not divisible by any")

only divisible by 7

**Problem-3**<br>
Write a program to calculate the electricity bill (accept number of unit from user) according to the following criteria:<br>  
Upto first 100 units Rs. 3 per unit.<br>
Next 100 units Rs. 5 per unit.<br>
Next 300 units Rs. 7 per unit.<br>
Above that, for each unit exceeding 500, Rs. 10 per unit flat.<br>

In [ ]:
# Your code goes here
x=1000
if x>=0 and x<=100:
  bill=x*3
elif(x>100 and x<=200):
  bill=x*5
elif(x>200 and x<=500):
  bill=x*7
elif(x>500):
  bill=x*10
  print(bill)

10000

**Problem-4**<br>
Find out sum of square of all the numbers upto 10, starting from 1

In [ ]:
# Your code goes here
n=10
sum=(n*(n+1)*((2*n)+1))/6
print(sum)

385.0

**Problem-5**<br>
Find out sum of square of all the even numbers upto 10, starting from 1

In [ ]:
# Your code goes here
sum=0
for num in range(0,10):
  if num%2==0:
    sum=sum+  (num ** 2)
print(sum)

120

**Problem-6**<br>
Check a number is prime or not

In [9]:
# Your code goes here
num = int(input ("enter natural number:"))
if num>1:
  for i in range(2,int(num/2)+1):
    if (num%i) == 0:
      print("not a prime number")
      break
  else:
    print(" prime no")

enter natural number:2
 prime no

**Problem-7**<br>
Print multiplication table upto 10 starting from 1

In [7]:
# Your code goes here
def tables():
  for x in range(1,11):

      print("")
      for y in range (1,11):
        print(x * y,end=" ")
tables()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

**Problem-8**<br>
Print the series of first n fibonacci numbers

In [8]:
# Your code goes here
x=10
n1, n2 = 0,1
count = 0



print("Fibanocii sequence:")
while count < x:
  print(n1)
  nth = n1 + n2
  n1 = n2
  n2 = nth
  count +=1

Fibanocii sequence:
0
1
1
2
3
5
8
13
21
34